

  <h4 class="row justify-content-center" style="margin-bottom: 25px">
    Authorize page
  </h4>

<div class="container">

  <div class="row justify-content-center">

    <div class="col-4 mat-elevation-z20">

      <div class="row justify-content-center">
          <mat-form-field class="col example-full-width">
            <input matInput placeholder="Login">
          </mat-form-field>

      </div>

      <div class="row justify-content-center">
          <mat-form-field class="col example-full-width">
            <input type="password" matInput placeholder="Password">
          </mat-form-field>
      </div>
    </div>

  </div>

  <div class="row justify-content-center" style="margin-top: 28px">
    <mat-checkbox>Remember me!</mat-checkbox>
  </div>

  <div class="row justify-content-center">
    <button class="col-1" mat-raised-button color="primary">Log In</button>
  </div>

  <a routerLink="/register" class="row justify-content-center">Register</a>

</div>



