
  <div class="regForm row justify-content-center">Registration form</div>

  <div class="regForm row justify-content-center">

    <div class="col-4 mat-elevation-z20">
      <div class="row justify-content-center">
        <mat-form-field class="col example-full-width">
          <input matInput placeholder="Your Login">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="regForm row justify-content-center">

    <div class="col-4 mat-elevation-z20">
      <div class="row justify-content-center">
        <mat-form-field class="col example-full-width">
          <input matInput placeholder="Your Email">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="regForm row justify-content-center">

    <div class="col-4 mat-elevation-z20">
      <div class="row justify-content-center">
        <mat-form-field class="col example-full-width">
          <input type="password" matInput placeholder="Your Password">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="regForm row justify-content-center">

    <div class="col-4 mat-elevation-z20">
      <div class="row justify-content-center">
        <mat-form-field class="col example-full-width">
          <input type="password" matInput placeholder="Confirm Your Password">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">
    <a mat-stroked-button color="primary" style="margin-right: 10px" routerLink="/authorize">Back</a>
    <button mat-raised-button color="primary">Register</button>
  </div>




